.chat_div {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  .chat_border {
    border: 1px solid rgb(44, 21, 21);
    padding: 5px;
  }
 
  .chat_chat_input__PAPpb {
    /* height: 14rem;
    width: 29rem; */

    padding: 40px;
    margin: 20px;
}
  .chat_button {
    height: 3rem;
    width: 12rem;

    padding: -18px;
    background-color: rgb(50, 24, 24);
    border-radius: 10px;
    margin-left: 100px;
    color: antiquewhite;
  }
  
  .chatProfileRight {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: row-reverse;

    margin-bottom: 5px;
  }
  .chatProfileLeft {
    display: flex;
    align-items: center;
    gap: 5px;

    margin-bottom: 5px;
  }
  .chatProfileSpan {
    background-color: rgb(213, 213, 182);
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(216, 201, 201);

  }

  .name{
    margin-right: 50px;
    margin-top: 50px;
    font-size: x-large;
  }
  .p{
    background-color: brown;
    font-size:xx-large;
  }
 